body {
  font-family: "Montserrat", sans-serif;
}

#title {
  background-color: #ff4c68;
  color: #fff;
  max-height: 670px;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.3;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

p {
  color: #8f8f8f;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

/* Download Buttons */

.download-btn {
  margin: 5% 3% 5% 0%;
}

/* Title Image */

.title-image {
  width: 18rem;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Features Section*/

#features {
  padding: 7% 14%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 2%;
}

.press-logo {
  width: 12%;
  margin: 20px 20px 50px;
}

.testimonial-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.3;
}

.carousel-item {
  padding: 5% 10%;
}

/* Pricing */

#pricing {
  text-align: center;
  padding-top: 5%;
}

.card-group {
  padding: 3% 20%;
}

.card {
  max-width: 18rem;
  text-align: center;
}

/* Call to Action */

#cta {
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 2% 2% 7%;
}

#cta h3 {
  font-size: 2.5rem;
  color: #fff;
}

/* Footer */

#footer {
  text-align: center;
  background-color: #212529;
  font-size: 1rem;
  padding: 20px;
  margin: 0;
}

/* Media Queries */

@media (max-width: 1085px) {
  .image-box {
    visibility: hidden;
  }

  .title-row {
    text-align: center;
  }

  #features {
    font-size: 2rem;
  }
}
